#todo-button {
  color: $font-color;
  background-color: $subtle-shift;
  border: none;
  margin-left: -4px;
  font-size: 16px;
  padding: 11px 20px;
  outline: none;
}

#todo-input {
  width: 300px;
  color: $dark;
  font-size: 16px;
  padding: 11px 17px;
  background-color: $action-color;
  border: none;
  outline: none;

}

#new-todo li {
  width: 200px;
  padding-top: 20px;
  color: $font-color;
  border-bottom: 2px solid $font-color;
  text-align: left;
  list-style: none;
  text-transform: uppercase;
}


#toDo {
  padding-left: 0;
}


.completed {
  text-decoration: line-through;
  color: $subtle-shift;
}
